.required {
    color: red;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.submit-btn {
    background-color: #001a54d6 !important;
    width: 16%;
    // float: right;
    border-color:#001a54d6;
    // margin-bottom: 2rem;
}
.p-inputtext:enabled:hover{
    border-color:#001a54d6;
}
