.required {
    color: red;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.btn-container {
    display: flex;
    flex-direction: row-reverse;
    .submit-btn {
        background-color: #001a54d6 !important;
        max-width: fit-content;
        border-color: #001a54d6;
        margin-left: 5px;
    }
}

.p-inputtext:enabled:hover {
    border-color: #001a54d6;
}
