<div class="footer-container py-4 px-4 mx-0 mt-8 lg:mx-8">
  <div class="grid justify-content-between">
    <div class="col-12 md:col-6">
      <div class="grid text-center md:text-left">
        <div class="col-12">
          <span
            class="about-us-title font-medium text-2xl line-height-3 mb-3 text-900" style="color: white !important;"
          >
            Contact Us
          </span>
        </div>

        <div>
          <app-footer-list-item icon="pi-envelope">
            <span
              class="footer-item-content"
              [innerHTML]="'admin@admin.com'"
            ></span>
          </app-footer-list-item>
          <app-footer-list-item icon="pi-whatsapp">
            <a
            class="footer-item-content"
            href="https://wa.me/919227009944"
            target="_blank"
          >
            +91 9227009944
            </a>
          </app-footer-list-item>
          <app-footer-list-item icon="pi-map-marker">
            <span class="footer-item-content">
              702, 7th Floor, Yash Aqua, Above Mcdonalds, Vijay Cross road,
              Ahmedabad 380009
            </span>
          </app-footer-list-item>
        </div>
      </div>
    </div>
    <div class="col-12 md:col-6">
      <div class="grid text-center md:text-left">
        <div class="col-12">
          <span
            class="about-us-title font-medium text-2xl line-height-3 mb-3 text-900"  style="color: white !important;"
          >
            About Us
          </span>
        </div>

        <div>
          <!-- <ul> -->
            
            <!-- <li> -->
              <app-footer-list-item>
                <span class="footer-item-content" style="margin-left: -14px">
                  About DBA
                </span>
              </app-footer-list-item>  
            <!-- </li> -->
            <!-- <li> -->
              <app-footer-list-item>
                <span class="footer-item-content" style="margin-left: -14px">
                  Our Founder
                </span>
              </app-footer-list-item> 
            <!-- </li> -->
            <!-- <li> -->
              <app-footer-list-item>
                <span class="footer-item-content" style="margin-left: -14px">
                  Our Team
                </span>
              </app-footer-list-item>  
             <!-- </li> -->
          <!-- </ul> -->
          <!-- <app-footer-list-item icon="pi-envelope">
            <span
              class="footer-item-content"
              [innerHTML]="'admin@admin.com'"
            ></span>
          </app-footer-list-item>
          <app-footer-list-item icon="pi-whatsapp">
            <a
            class="footer-item-content"
            href="https://wa.me/919227009944"
            target="_blank"
          >
            +91 9227009944
            </a>
          </app-footer-list-item>
          <app-footer-list-item icon="pi-map-marker">
            <span class="footer-item-content">
              702, 7th Floor, Yash Aqua, Above Mcdonalds, Vijay Cross road,
              Ahmedabad 380009
            </span>
          </app-footer-list-item> -->
        </div>
      </div>
    </div>

    <!-- <div class="col-12 md:col-10 lg:col-7">
      <div class="grid text-center md:text-left">
        <div class="col-12">
          <span
            class="about-us-title font-medium text-2xl line-height-3 mb-3 text-900"
          >
            Contact Us
          </span>
        </div>

        <div>
          <app-footer-list-item icon="pi-envelope">
            <span
              class="footer-item-content"
              [innerHTML]="'admin@admin.com'"
            ></span>
          </app-footer-list-item>
          <app-footer-list-item icon="pi-whatsapp">
            <a
            class="footer-item-content"
            href="https://wa.me/919227009944"
            target="_blank"
          >
            +91 9227009944
            </a>
          </app-footer-list-item>
          <app-footer-list-item icon="pi-map-marker">
            <span class="footer-item-content">
              702, 7th Floor, Yash Aqua, Above Mcdonalds, Vijay Cross road,
              Ahmedabad 380009
            </span>
          </app-footer-list-item>
        </div>
      </div>
      <div
        class="flex justify-content-between lg:block border-top-1 lg:border-top-none surface-border py-3 lg:py-0 mt-3 lg:mt-0"
      >

        <button
          pButton
          label="Contact Us"
          class="border-none font-light line-height-2 theme-button ml-5"
          (click)="openContactUsDialog.emit()"
        ></button>
      </div>
    </div> -->
  </div>
</div>
