.footer-container {
    min-height: 250px;

    .footer-item-content {
        margin: 0px 10px;
        text-decoration: none;
        cursor: pointer;
        line-height: 20px;
        text-align: left;
    }
}

.about-us-title {
    font-weight: 500 !important;
    font-size: 40px !important;
}
