.footer-container {
    min-height: 250px;
    background-color: #001a54d6;
    .footer-item-content {
        margin: 0px 10px;
        text-decoration: none;
        cursor: pointer;
        line-height: 20px;
        text-align: left;
        color: white;
    }
}

.about-us-title {
    font-weight: 500 !important;
    font-size: 24px !important;
    text-decoration: underline;
}
.theme-button{
    background-color: #001a54d6 !important;
    font-weight: normal !important;
}