.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--blue-500) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle i {
    color: white;
}
