.theme-button{
    background-color: #001a54d6 !important;
    font-weight: normal !important;
    font-size: 16px;
}

.header{
    margin-top: -0.5rem !important;
    margin-bottom: -2rem !important;
}

.card{
    height: auto;
    max-height: 300px;
}

span, .p-button-label{
    font-size: 16px;
}

li{
    color: white;
}